<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rmsoft.library.mappers.AuthenticationMapper">

    <insert id="insertRole">
        insert into authentication_tbl(user_id, authority)
        values (#{userId}, #{authority})
    </insert>

</mapper>
