<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rmsoft.library.mappers.OutMapper">

    <insert id="insertOut">
        insert into out_tbl (out_date, return_date, email, user_id, book_id)
        values (now(), date_add(now(),INTERVAL 14 DAY), #{email}, #{userId}, #{bookId})
    </insert>

    <update id="updateReturnDate">
        update out_tbl
        set return_date = now()
        where book_id = #{bookId}
        and email = #{email}
    </update>

    <update id="updateState">
        update book_tbl
        set state = #{state}
        where book_id = #{bookId}
    </update>

</mapper>
